<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<meta name="author" content="MarTecno"/>
		<title>MarTecno</title>
		
		<!-- Style -->
		<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css}" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		<link type="text/css" rel="stylesheet" href="/css/style.css">
		
		<!-- Scripts -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		
		<!-- Favicon -->
		<link rel="shortcut icon" th:href="@{/images/logo.ico}" type="image/x-icon">
		<link rel="icon" th:href="@{/images/logo.ico}" type="image/x-icon">
		
		<!-- Calendar -->

	</head>
	<body>
			<!-- Navbar -->
			<header th:insert="navbar.html :: navbar"> </header>
			
			<div class="p-5">
			  <h2 class="mb-4">Full Calendar</h2>
			  <div class="card">
			    <div class="card-body p-0">
			      <div id="calendar"></div>
			    </div>
			  </div>
			</div>
			
			<!-- calendar modal -->
			<div id="modal-view-event" class="modal modal-top fade calendar-modal">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								<h4 class="modal-title"><span class="event-icon"></span><span class="event-title"></span></h4>
								<div class="event-body"></div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			
			<div id="modal-view-event-add" class="modal modal-top fade calendar-modal">
			  <div class="modal-dialog modal-dialog-centered">
			    <div class="modal-content">
			      <form id="add-event">
			        <div class="modal-body">
			        <h4>Add Event Detail</h4>        
			          <div class="form-group">
			            <label>Event name</label>
			            <input type="text" class="form-control" name="ename">
			          </div>
			          <div class="form-group">
			            <label>Event Date</label>
			            <input type='text' class="datetimepicker form-control" name="edate">
			          </div>        
			          <div class="form-group">
			            <label>Event Description</label>
			            <textarea class="form-control" name="edesc"></textarea>
			          </div>
			          <div class="form-group">
			            <label>Event Color</label>
			            <select class="form-control" name="ecolor">
			              <option value="fc-bg-default">fc-bg-default</option>
			              <option value="fc-bg-blue">fc-bg-blue</option>
			              <option value="fc-bg-lightgreen">fc-bg-lightgreen</option>
			              <option value="fc-bg-pinkred">fc-bg-pinkred</option>
			              <option value="fc-bg-deepskyblue">fc-bg-deepskyblue</option>
			            </select>
			          </div>
			          <div class="form-group">
			            <label>Event Icon</label>
			            <select class="form-control" name="eicon">
			              <option value="circle">circle</option>
			              <option value="cog">cog</option>
			              <option value="group">group</option>
			              <option value="suitcase">suitcase</option>
			              <option value="calendar">calendar</option>
			            </select>
			          </div>        
			      </div>
			        <div class="modal-footer">
			        <button type="submit" class="btn btn-primary" >Save</button>
			        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>        
			      </div>
			      </form>
			    </div>
			  </div>
			</div>
			 
			<!-- Footer -->	
			<header th:insert="footer.html :: footer"> </header>
	</body>
</html>