<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
		<head th:insert="head.html :: head"></head>
	<body class="text-center">
		<!-- Navbar -->
		<header th:insert="navbar.html :: navbar"> </header>
		
		<h1 style="padding-bottom:20px; padding-top:30px;">Listado de Clientes</h1>
		
		<div class="container">
			
				<table>
				  <tr>
				    <th>Nombre</th>
				    <th>Dirección</th> 
				    <th>CUIT</th>
				    <th>Abrir caso soporte</th>
				  </tr>
				  <tr th:each="client: ${clients}">
				    <td th:text="${client.name}"></td>
				    <td th:text="${client.direction}"></td>
				    <td th:text="${client.cuit}"></td>
				    <td><form th:action="@{|/supportcase/${client.id}|}" method="get"><button type="submit" class="btn btn-warning">Nuevo Caso</button></form></td>
				  </tr>
				</table>
			
		</div>
		<!-- Footer -->	
		<header th:insert="footer.html :: footer"> </header>
	</body>
</html>
		