<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
		<head th:insert="fragments/head.html :: head"></head>
	<body class="text-center">
		<!-- Navbar -->
		<navbar th:insert="fragments/navbar.html :: navbar"> </navbar>
		
		<h1 style="padding-bottom:20px; padding-top:30px;">Listado de Clientes</h1>
		
		<div class="container">
			
				<table>
				  <tr>
				    <th>Nombre</th>
				    <th>Direcci&oacuten</th> 
				    <th>CUIT</th>
				    <th>Abrir caso soporte</th>
				    <th>Acciones</th>
				  </tr>
				  <tr th:each="client: ${clients}">
				    <td th:text="${client.name}"></td>
				    <td th:text="${client.direction}"></td>
				    <td th:text="${client.cuit}"></td>
				    <td>
				    	<form th:action="@{|/supportcase/${client.id}|}" method="get">
				    		<button type="submit" class="btn btn-secondary">Nuevo Caso</button>
				    	</form>
				    </td>
				    <td>
				    	<form th:action="@{|/client/edit/${client.id}|}" method="get" class="line">
				    		<button type="submit" class="btn btn-dark">Actualizar</button>
				    	</form>
				    	<form th:action="@{|/client/delete/${client.id}|}" method="get" class="line">
				    		<button type="submit" class="btn btn-warning">Eliminar</button>
				    	</form>
				    </td>
				    
				  </tr>
				</table>
			
		</div>
		<!-- Footer -->	
		<footer th:insert="fragments/footer.html :: footer"> </footer>
	</body>
</html>
		