<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<meta name="author" content="MarTecno"/>
		<title>MarTecno</title>
		
		<!-- Style -->
		<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css}" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		<link type="text/css" rel="stylesheet" href="/css/style.css">
		
		<!-- Scripts -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		
		<!-- Favicon -->
		<link rel="shortcut icon" th:href="@{/images/logo.ico}" type="image/x-icon">
		<link rel="icon" th:href="@{/images/logo.ico}" type="image/x-icon">
		
	</head>
	<body class="text-center">
		<!-- Navbar -->
		<header th:insert="navbar.html :: navbar"> </header>
		
		<h1 style="padding-top: 20px; padding-bottom: 20px">Nuevo Administrador</h1>
		<form th:action="@{/admin/create}" method="post"  th:object=${admin}>
		  <div class="form-row" style="padding-left:15%;">
		    <div class="col-md-2 mb-3">
		     	 <input type="text" class="form-control"  id="name" placeholder="Nombre" name="name" th:field="*{name}"/>
		    </div>
		    <div class="col-md-2 mb-3">
				<input type="text" class="form-control" id="lastname" placeholder="Apellido" name="lastname" th:field="*{lastname}"/>	
		    </div>
		    <div class="col-md-2 mb-3">
		    		<input type="text" class="form-control" id="cell" placeholder="Celular" name="cell" th:field="*{cell}"/>
		    </div>
		    <div class="col-md-2 mb-3">
		      <input type="text" class="form-control" id="email" placeholder="Email" name="email" th:field="*{email}"/>
		    </div>
		    <div class="col-md-2 mb-3">
		      <input type="text" class="form-control" id="password" placeholder="Contraeña" name="password" th:field="*{password}"/>
		    </div>
		  </div>
		  <button class="btn btn-dark" type="submit">Agregar</button>
		</form>

		
		<!-- Footer -->	
		<header th:insert="footer.html :: footer"> </header>

	
	</body>
</html>