<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:insert="head.html :: head"></head>
	<body class="text-center">
		<!-- Navbar -->
		<header th:insert="navbar.html :: navbar"> </header>
		<div class="container" style ="padding-top:40px">
			<h1 style="padding-bottom: 20px;">Listado de Admins</h1>
			<div style="padding-bottom:40px;">
				<table style="width:70%; margin-left:15%;">
				  <tr>
				    <th>Nombre</th>
				    <th>Dirección</th> 
				    <th>Email</th>
				    <th>Celular</th>
				  </tr>
				  <tr th:each="admin: ${admins}" >
				    <td th:text="${admin.name}"></td>
				    <td th:text="${admin.lastname}"></td>
				    <td th:text="${admin.email}"></td>
				    <td th:text="${admin.cell}"></td>
				  </tr>
				</table>
			</div>
			<h1 style="padding-bottom: 20px;">Listado de Usuarios</h1>
			<div style="padding-bottom:40px;">
				<table style="width:70%; margin-left:15%;">
				  <tr>
				    <th>Nombre</th>
				    <th>Dirección</th> 
				    <th>Email</th>
				    <th>Celular</th>
				  </tr>
				  <tr th:each="user: ${users}">
				    <td th:text="${user.name}"></td>
				    <td th:text="${user.lastname}"></td>
				    <td th:text="${user.email}"></td>
				    <td th:text="${user.cell}"></td>
				  </tr>
				</table>
			</div>
			<h1 style="padding-bottom: 20px;">Listado de Contadores</h1>
			<div style="padding-bottom:40px;">
				<table style="width:70%; margin-left:15%;">
				  <tr>
				    <th>Nombre</th>
				    <th>Dirección</th> 
				    <th>Email</th>
				    <th>Celular</th>
				  </tr>
				  <tr th:each="accountant: ${accountants}">
				    <td th:text="${accountant.name}"></td>
				    <td th:text="${accountant.lastname}"></td>
				    <td th:text="${accountant.email}"></td>
				    <td th:text="${accountant.cell}"></td>
				  </tr>
				</table>
			</div>
		</div>
		<!-- Footer -->	
		<header th:insert="footer.html :: footer"> </header>
	</body>
</html>
		