<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:insert="fragments/head.html :: head"></head>
	<body class="text-center">
	<!-- Navbar -->
		<navbar th:insert="fragments/navbar.html :: navbar"> </navbar>
		
		<h1 style="padding-top: 20px;">El usuario fue creado exitosamente</h1>
		<!-- Redirect contact form -->

		<script type = "text/javascript">
         function Redirect() {
               window.location = "http://localhost:8080/person";
            }            
            
            setTimeout('Redirect()', 2500);

     	</script>
	
	
		<!-- Footer -->	
		<footer th:insert="fragments/footer.html :: footer"> </footer>
	</body>
</html>