<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:insert="fragments/head.html :: head"></head>
	<body>
		<!-- Navbar -->
		<navbar th:insert="fragments/navbar.html :: navbar"> </navbar>
		
		<h1 style="padding-bottom:20px; padding-top:30px;" class="text-center">Listado de Casos de Soporte</h1>
		
		<div class="container">
			
				<table class="text-center">
				  <tr>
				    <th>Cliente</th>
				    <th>Descripcion</th> 
				    <th>Fecha</th>
				    <th width="30%">Acciones</th>
				  </tr>
				  <tr th:each="suportcase: ${supportcases}">
				    <td th:text="${suportcase.client.name}"></td>
				    <td th:text="${suportcase.description}"></td>
				    <td th:text="${suportcase.date}"></td>
				    <!--td>
				    	<form th:action="@{|/supporcase/edit/${supporcase.idClient}|}" method="get" class="line">
				    		<button type="submit" class="btn btn-dark">Actualizar</button>
				    	</form>
				    	<form th:action="@{|/supporcase/delete/${supporcase.idClient}|}" method="get" class="line">
				    		<button type="submit" class="btn btn-warning">Eliminar</button>
				    	</form>
				    <td-->
				  </tr>
				</table>
			
		</div>
		
		<!-- Footer -->	
		<footer th:insert="fragments/footer.html :: footer"> </footer>
	</body>
</html>
		