<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:insert="fragments/head.html :: head"></head>
	<body>
		<!-- Navbar -->
		<navbar th:insert="fragments/navbar.html :: navbar"> </navbar>
		
		<h1 style="padding-bottom:20px; padding-top:30px;" class="text-center">Listado de Casos de Soporte</h1>
		
		<div class="container">
			
				<table class="text-center">
				  <tr>
				    <th>Nro</th>
				    <th>Descripcion</th> 
				    <th>Fecha</th>
				    
				  </tr>
				  <tr th:each="suportcase: ${supportcases}">
				    <td th:text="${suportcase.id}"></td>
				    <td th:text="${suportcase.description}"></td>
				    <td th:text="${suportcase.date}"></td>
				  </tr>
				</table>
			
		</div>
		
		<!-- Footer -->	
		<footer th:insert="fragments/footer.html :: footer"> </footer>
	</body>
</html>
		